p {
    margin: 5px;
}

#playPauseButton {
    position: absolute;
    /* 绝对定位 */
    left: 10px;
    /* 在最左边 */
    top: 150px;
    /* 可以根据需要调整垂直位置 */
    width: 30px;
    /* 设置图片按钮的宽度 */
    height: 30px;
    /* 设置图片按钮的高度 */
    cursor: pointer;
    /* 鼠标悬停时显示手型 */
}

.cywl {
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 9999;
    left: 50px;
    bottom: 50px;
    cursor: url(../Maxwell_Who-CatCursor/alternate.ico),
        default;
    display: flex;

    /* background-color: #5ee7df; */
}

.cywl img {
    width: 90px;
    height: 90px;
    pointer-events: none;
    user-select: none;
}

body {
    background-image: url('../image/background.avif');
    /* 设置背景图片 */
    background-size: cover;
    /* 背景图片覆盖整个背景区域 */
    background-position: center;
    /* 背景图片居中显示 */
    background-repeat: no-repeat;
    /* 背景图片不重复 */
    background-attachment: fixed;
    /* 背景图片固定 */
    opacity: 0;
    /* 初始状态为不可见 */
    transition: opacity 1s ease-in;
    /* 添加渐变效果 */
    position: relative;
    /* 相对定位 */
    overflow-x: hidden;
    /* 防止页面水平滚动 */
}

body.show {
    opacity: 1;
    /* 显示状态 */
}

img {
    transition: transform 0.5s ease-in-out;
    /* 图片渐变效果 */
    display: block;
    /* 将图片设置为块级元素 */
    margin: 10px auto;
    /* 添加上下边距并水平居中 */
    border-radius: 10px;
    /* 圆角 */
}

img:hover {
    transform: scale(1.03);
    /* 鼠标悬停时放大图片 */
}

details {
    transition: max-height 0.5s ease-in-out;
    /* 折叠内容的过渡效果 */
    overflow: hidden;
    /* 隐藏溢出的内容 */
}

div {
    border-radius: 10px;
    /* 圆角大小 */
}

details[open]>div {
    max-height: 1000px;
    /* 打开时设置最大高度 */
    transition: max-height 0.3s ease-in-out;
    /* 过渡效果 */
}

details>div {
    max-height: 0;
    /* 关闭时设置最大高度为0 */
    overflow: hidden;
    /* 隐藏内容 */
}

.header {
    background: rgba(0, 0, 0, 0.7);
    /* 背景颜色 */
    display: flex;
    /* 使用flex布局 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    height: 200px;
    /* 固定高度 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    /* 调整阴影的大小、模糊度和颜色 */
    border-radius: 10px;
    /* 圆角 */
}

.logo {
    width: 200px;
    /* 设置logo宽度 */
    height: 200px;
    /* 设置logo高度 */
}

.flex-container {
    display: flex;
    /* 使用flex布局 */
    flex-direction: column;
    /* 布局方向为列 */
    flex-wrap: wrap;
    /* 允许子项在必要时换行 */
    padding: 0px;
    /* 容器内边距 */
    gap: 7px;
    /* 子项之间的间隔 */
    margin: 20px;
    /* 外边距 */
    align-items: center;
    /* 垂直居中 */
}

.flex-item {
    flex-direction: column;
    /* 布局方向为列 */
    flex: 1;
    /* 允许格子项伸缩以填充可用空间 */
    width: 90%;
    /* 格子项的最小宽度 */
    height: 100px;
    /* 格子项的高度 */
    background-color: #f1f2f39a;
    /* 背景颜色 */
    display: flex;
    /* 使格子项内部也使用flex布局 */
    font-size: 18px;
    /* 字体大小 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    /* 调整阴影的大小、模糊度和颜色 */
}

.update {
    color: brown;
    /* 更新标题颜色 */
    opacity: 1;
    /* 透明度 */
    margin: 20px;
    /* 外边距 */
}

.footer {
    font-size: x-small;
    /* 字体大小 */
    color: white;
    /* 文字颜色 */
    background: rgba(0, 0, 0, 0.7);
    /* 背景颜色 */
    display: flex;
    /* 使用flex布局 */
    flex-direction: column;
    /* 布局方向为列 */
    align-items: center;
    /* 水平居中 */
    line-height: 5px;
    /* 行高 */
    padding: 20px;
    /* 内边距 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    /* 调整阴影的大小、模糊度和颜色 */
    border-radius: 10px;
    /* 圆角 */
}

.center-content {
    display: flex;
    /* 使用flex布局 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    height: 100%;
    /* 高度占满父容器 */
}

.bottom-right {
    position: absolute;
    /* 绝对定位 */
    right: 0;
    /* 右对齐 */
    margin: 10px;
    /* 外边距 */
}

.history-summary {
    background-color: rgba(221, 221, 221, 0.589);
    /* 背景颜色 */
    padding: 10px;
    /* 内边距 */
}

.history-content {
    display: flex;
    /* 使用flex布局 */
    flex-direction: column;
    /* 布局方向为列 */
    background-color: #f1f2f39a;
    /* 背景颜色 */
    padding: 10px;
    /* 内边距 */
}

.accordion {
    background-color: #f1f2f39a;
    /* 背景颜色 */
    color: #000000;
    /* 文字颜色 */
    cursor: pointer;
    /* 鼠标指针变为指针，表示可点击 */
    padding: 18px;
    /* 内边距 */
    width: 100%;
    /* 宽度占满父容器 */
    text-align: left;
    /* 文字左对齐 */
    border: none;
    /* 无边框 */
    outline: none;
    /* 无轮廓 */
    transition: 0.4s;
    /* 过渡效果 */
    font-size: medium;
    /* 字体大小 */
    font-weight: bold;
    /* 字体加粗 */
    border-radius: 10px;
    /* 圆角 */
}

.active,
.accordion:hover {
    background-color: rgba(202, 202, 202, 0.4);
    /* 点击和悬停时的背景颜色 */
}

.panel {
    padding: 0 18px;
    /* 内边距 */
    background-color: #f1f2f39a;
    /* 背景颜色 */
    max-height: 0;
    /* 默认隐藏 */
    overflow: hidden;
    /* 隐藏溢出的内容 */
    transition: max-height 0.3s ease-out;
    /* 过渡效果 */
    display: flex;
    /* 使用flex布局 */
    flex-direction: column;
    /* 布局方向为列 */
}

.accordion:after {
    content: '\002B';
    /* Unicode 字符 + 号 */
    color: #000000;
    /* 颜色 */
    font-weight: bold;
    /* 字体加粗 */
    font-size: large;
    /* 字体大小 */
}

.active:after {
    content: "\2212";
    /* Unicode 字符 - 号 */
}

a,
img,
button {
    cursor: url(../Maxwell_Who-CatCursor/alternate.ico),
        default;
}